.text-danger>p{
    line-height: 13px;
    font-size: 12px;
    text-align: left;
}
.card-body{
    line-height: 13px;
    font-size: 13px;
}
.card-title{
    margin-top: 0;
    margin-bottom: 0.2PX;
    font-size: 16PX;
}
.card{
    padding: 5px;
}
.title{
    background-color: rgb(38, 38, 83);
    color: white;
    padding-left: 30px;
}
.section_1{
    margin-left: 3px;
    margin-right: 3px;
}
.jumbotron{
    background-image: url("https://media.istockphoto.com/vectors/music-background-vector-id1076840920?k=20&m=1076840920&s=612x612&w=0&h=7npgZI1DyLkiejEZM19R0XHWdgJGijuTK4cXZvIA72Q=");
    color: whitesmoke;
    margin-top: 5px;
    margin-bottom: 5px;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  .review{
      line-height: 15px;
      font-size: 14px;
      margin-bottom: 5px;
  }
  .batch{
      position: absolute;
      top: 6px;
      left:6px;
      border-radius: 2px;
      color: whitesmoke;
      background-color:rgb(171, 95, 13);
      font-size: 11px;  
  }
  .trackList{
      font-size: 12px;
      width: 80%;
      text-align: center;
      margin: 0 auto;
      margin-top: 5px;
      border: 1px solid grey;
      border-radius: 8px;
  }
  .delete{
      max-height: 20px;
      font-size: 10px;
      max-width: 50px;
      padding-top: 2px;
      padding-left: 10px;
  }
  .add{
    max-height: 20px;
    font-size: 10px;
    max-width: 50px;
    padding-top: 2px;
    padding-left: 10px;
    border: 1px solid grey;
    box-shadow: 0 1px 2px grey;
    transition: box-shadow 0.3s ease-in-out;
}
.add:hover{
    box-shadow: 0 0.5em 0.5em -0.4em grey;
  transform: translateY(-0.25em);
}

